.avg{
  font-size:25px;
}

.min{
  font-size:10px;
}

.max{
  font-size:10px;
}

#current span{
  display:inline-block;
  margin: 0 10px;
  font-family: "Arial";
}

body{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddd;
}

.extendedBox{
  border: solid 2px black;
  padding:10px;
  margin:10px;
}
